form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d3d3d3;
  & input {
    padding: 2px 5px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  & lecture-button {
    font-size: 12px;
    margin: 0 auto;
  }
}
