:host {
  display: flex;
  padding: 10px 10px 7px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}
span {
  flex: 1;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  &.active {
    background: #808080;
  }
  &:not(:last-child) {
    margin-right: 2px;
  }
}
