:host {
  display: flex;
  padding: 10px 10px 7px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}
span {
  cursor: pointer;
  position: relative;
  flex: 1;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  &[data-done="true"] { background: #808080; }
  &[data-active="true"] { background: #20a5cb; }
  &:not(:last-child) {
    margin-right: 2px;
  }
  &::after { /* increase clickable area */
    content: '';
    position: absolute;
    top: -3px; bottom: -3px; left: -3px; right: -3px;
  }
}
