:host {
  display: block;
  padding: 10px 10px 7px;
  border-radius: 5px;
  background: #d3d3d3;
}
.bar-wrapper {
  height: 5px;
  border-radius: 5px;
  background: #808080;
}
.bar {
  width: calc(var(--done) / var(--max));
  height: 100%;
  background: #eee;
}
