.content {
  max-width: 1000px;
  margin: 0 auto;
}
@media all and (max-width: 1100px) {
  .content {
    max-width: calc(100vw - 150px);
  }
}
h1 {
  font-size: 1.4em;
  margin: 50px 0 10px;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.lecture {
  cursor: pointer;
  user-select: none;
}
.lecture-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 120px;
  border-radius: 5px 5px 0 0;
  transform: translateY(5px);
  &:hover {
    filter: brightness(1.1);
  }
}
.lecture-title {
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}
.lecture-summary {
  font: inherit;
  color: rgba(255, 255, 255, .65);
  letter-spacing: 1px;
  margin: 0;
  &:empty { height: 0; }
}
.link {
  font-size: .85em;
  display: block;
  width: 150px;
  margin: 15px auto 0;
}
